.addressdetail
  padding-top 20px
  .head
    height 100px
    width 100px
    border-radius 50px
    margin 0 auto 26px
    overflow hidden
  .name
    font-weight 700
    font-size 30px
    text-align center
  .contacticon
    margin 16px auto 8px
    width 70px
    font-size 30px
  .detail
    width 80%
    height auto
    margin 16px auto 0px
    border-radius 10px
    border 1px solid lightgrey
    background-color white
    .item
      height 32px
      width 240px
      line-height 28px
      margin 0 auto
      padding-top 5px
      &:first-child
        margin-top 10px
      &:nth-child(7)
        margin-bottom  22px
