.attend
  margin 20px auto 0
  width 90%
  .attend-class
    font-size 20px
    line-height 20px
    margin 20px 0
    .class-name
      color #8b0000
    .class-num
      font-size 12px
      border 1px solid rgb(7,17,27)
  .attend-stu
    margin 10px 0
    line-height 28px
    .stu-item
      display inline-block
    .item-name
      width 60%
      text-align left
    .item-state
      width 24%
      text-align center
    .item-time
      width 16%
      text-align right
      color rgba(7,17,27,0.7)
      font-size 12px
    .leaving
      color #14ff11
    .leaved
      color #8deeee
    .attended
      color #ff1c1a
    .unattend
      color #7e8c8d
