.businessleave
  margin-bottom 80px
  .tbl
    display flex
    .tbl-item
      flex
      height 40px
      width 100%
      text-align center
      margin-top 10px
      & > a
        display: block /*超链接自动充满格子*/
        text-decoration: none
        font-size: 14px
        color: rgb(77, 85, 93)
        line-height 40px
        width 100%
        &.active
          width 100%
          color: white
          background-color #a70000
  .leave-sub
    text-align center
    color white
    font-size 20px
