//.entry
//  background url('../common/image/entry.png') no-repeat
//  background-size cover
//  width 100%
//  height 100%
//  .entry-img
//    padding  10% 0 0
//    margin 0 auto
//    width 170px
//    height 170px
//  .entry-name
//    color #9b2024
//    text-align center
//    font-size 24px
//    margin 30px 0
//  .entry-login
//    .login-student,.login-teacher
//      font-size 20px
//      width 180px
//      height 30px
//      line-height 30px
//      margin 20px auto 0
//      text-align center
//      border-radius 20px
//      border 1px solid rgba(155,32,36,0.5)
//      background-color white
//      color #9b2024
