.filedetail
  width 100%
  .filedetail-title
    margin-top 20px
    font-size 20px
    text-align center
  .filedetail-text
    line-height 20px
    margin 20px 20px 40px
    text-align center
  .filedetail-time
    text-align center
  .file-modal
    position fixed
    z-index 1
    background-color rgba(237, 237, 237, 0.6)
    height 100%
    width 100%
    top 50px
    left 0
    color black
    .modal-text
      margin 30px auto
      width 84%
      .text-li
        border-bottom 1px dashed rgba(7, 17, 27, 0.4)
        padding 10px 0
        position relative
        transition: height 2s
        overflow hidden
        .text-part
          font-size 16px
          display inline-block
          margin-right 1%
          width 28%
          font-weight 700
        .text-state
          display inline-block
          border 1px solid rgba(7, 17, 27, 0.4)
          border-radius 4px
          margin-right 2%
          padding 4px 2px
          font-size 14px
          width 14%
          text-align center
        .textstate1
          border 1px solid red
          color red
        .textstate2
          border 1px solid #ffac25
          color #ffac25
        .text-detail
          display inline-block
          font-size 14px
          padding 4px 0 0
          width 38%
        .detail-icon
          position absolute
          right 0
          top 12px
          color red
          border 1px solid red
          border-radius 8px
          font-size 12px
          padding 2px 4px
          .jiantou
            transition: All 0.4s ease-in-out;
            -webkit-transition: All 0.4s ease-in-out;
            -moz-transition: All 0.4s ease-in-out;
            -o-transition: All 0.4s ease-in-out;
        .more-detail
          width 100%
          font-size 14px
          margin-top 6px


    .modal-bottom
      position fixed
      left 0
      bottom 0
      border-top 0.5px solid rgba(7,17,27,0.1)
      width 100%
      height 280px
      background-color white
      .bottom-item1
        width 80%
        margin 10px auto 20px
        .radioitem
          display inline-block
          margin-right 20px
      .bottom-item2
        .filetextarea
          display block
          margin 20px auto
          width 80%
          border-radius 10px
          height 130px
          padding 2% 4%
      .bottom-item3
        .item3-back
        .item3-confirm
          width 90px
          height 30px
          background-color rgba(7,17,27,0.2)
          line-height 30px
          float right
          margin-right 40px
          text-align center
          font-size 14px
          color white
          border-radius 4px
  .file-list
    width 180px
    height 100%
    position fixed
    z-index 10
    background #f1f1f1
    right -180px
    top 50px
    padding 30px 0 0
    transition: All 0.6s ease-in-out
    -webkit-transition: All 0.6s ease-in-out
    -moz-transition: All 0.6s ease-in-out
    -o-transition: All 0.6s ease-in-out
    text-align center
    .list-item
      height 36px
      width 100%
      text-align center
      color black
      font-family LiSu
      font-size 18px
    .list-do
      width 100px
      margin 20px auto
      background-color rgba(7,17,27,0.2)
      line-height 30px
      font-size 20px
      font-family lisu
      text-align center
      border-radius 6px



