  .index
    background rgba(255, 255, 255, 1)
    overflow auto
    margin-bottom 60px
    .today_class
      margin-top: 6px
      .color_train
        position: relative
        z-index: 1
        display: inline-block
        height: 40px
        width: 49%
        background: -webkit-linear-gradient(left, #87ceff, white) /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #87ceff, white) /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #87ceff, white) /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #87ceff, white) /* 标准的语法（必须放在最后） */
        vertical-align: top
        .today_font
          display: inline-block
          margin-left: 50px
          font-size: 15px
          line-height: 40px
          color: #299cfd

    .syllabus
      .class_li
        width: 80%
        height: 70px
        margin: 0 auto 2px
        border-left: 1px solid rgb(211, 211, 211)
        border-top: 1px dashed rgb(211, 211, 211)
        position: relative
        .class_all
          position: absolute
          left: 6px
          height: 70px
          width: 100%
          .time_block
            display: inline-block
            width: 24%
            height: 70px
            line-height: 70px
            margin-left: 16px
            font-size: 12px
          .name_day
            vertical-align: top
            display: inline-block
            width: 40%
            height: 70px
            .class_name
              width: 80%
              height: 24px
              margin: 24px auto 2px
              text-align: center
              font-size: 12px
              line-height 12px
              font-weight: bold
            .class_day
              font-size: 12px
              text-align: center
    .dot_pic
      display block
      width: 12px
      height: 20px
      position: absolute
      top: -10px
      left: -6px

    .color_train_2
      opacity: 0.7
      display: inline-block
      height: 40px
      width: 49%
      background: -webkit-linear-gradient(left, #76eec6, white) /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #76eec6, white) /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #76eec6, white) /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #8deeee, white) /* 标准的语法（必须放在最后） */
      vertical-align: top
      .today_font_2
        display: inline-block
        margin-left: 50px
        font-size: 15px
        line-height: 40px
        color: #00714b

    .note
      width: 80%
      height: 22px
      margin: 0 auto 2px
      border-bottom: 1px dashed rgb(211, 211, 211)
      position: relative
      font-size: 12px
      line-height: 22px
      .title
        display: inline-block
      .note_date
        display: inline-block
        float: right

    .note_do
      width: 70%
      height: 40px
      margin: 0 auto

    .note_write
      display: inline-block
      height: 20px
      width: 60%
      margin: 10px 20%
      background: gainsboro
      text-align: center
      font-size: 12px
      line-height: 20px

    .color_train_3
      opacity: 0.4
      display: inline-block
      height: 40px
      width: 49%
      background: -webkit-linear-gradient(left, #76eec6, white) /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right, #76eec6, white) /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #76eec6, white) /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, rgba(178, 34, 34, 0.6), white) /* 标准的语法（必须放在最后） */
      vertical-align: top
      .today_font_3
        display: inline-block
        margin-left: 50px
        font-size: 15px
        line-height: 40px
        color: #ff0000

    .news_all
      margin-bottom 20px
      .new
        width: 80%
        height: 70px
        margin: 0 auto 2px
        border-bottom: 1px dashed rgb(211, 211, 211)
        position: relative
        overflow: hidden
        .title
          text-align center
          font-weight bold
          font-size 12px
          line-height 26px
        .new_text
          font-size 12px
          line-height 13px
          text-indent: 2em
          height 24px
          overflow hidden
          margin-bottom 6px
          word-wrap: break-word
        .new_time
          line-height 12px
          font-size 12px
          height 8px

    .color_right
      display: inline-block
      width: 45%
      height: 40px
      margin-right: 3%
      .syllabus_font
        line-height: 40px
        opacity: 0.3
        display: inline-block
        float: right
        font-size: 6px
