.leavelist
  width 86%
  margin 20px auto
  line-height 40px
  .leavelist-title
    border-bottom 1px solid rgba(7,17,27,0.1)
    &:last-child
      border-bottom none
    .list-text
      display inline-block
      width 24%
    .text-text
      display inline-block
      width 32%
      .day-num
        width 50%
      .el-input
        width 100%
        display inline-block
        .el-input__icon
          display none
        .el-input__inner
          padding 0 0 0 2px
          width 100%
          font-size 6px
    .text-type
      float right
  .leavelist-sub
    text-align center
    margin-top 30px
    background-color #aba9a9
    border-radius 5px
    color white
