.linepuzzle
  .puzzles
    width 94%
    border 1px solid rgba(7,17,27,0.1)
    margin 5px auto 0
    background-color white
    box-shadow 0 1px 5px #b2b2b2
    padding 2% 2% 0
    .puzzle
      height 30px
      display: inline-block
      line-height 30px
    .puzzle-topic
      width 100%
      text-overflow ellipsis
      white-space:nowrap
      overflow:hidden
    .puzzle-items
      .puzzle-item
        display inline-block
        .puzzle-name
          padding-left 6px
          line-height 22px
          font-size 12px
        .puzzle-time
          padding-left 6px
          line-height 18px
          font-size 14px
