li
  .el-col
    .el-menu
      background-color white
      .el-submenu
        .el-submenu__title

        ul
          .el-menu-item
            text-align left
            .state
              color red
.ltitle,.rtitle
  display inline-block
  width 49%
  text-align left
.rtitle
  text-align center
  color red
