.puzzledet
  margin 10px auto 0
  padding-bottom 60px
  width 95%
  .det-problem
    padding 10px 4px 8px
    box-shadow 0 1px 5px #b2b2b2
    border 1px solid rgba(7,17,27,0.1)
    margin-bottom 10px
    .det-img
      display inline-block
      vertical-align bottom
    .det-info
      display inline-block
      width 50%
      .det-name
        font-size 12px
        line-height 22px
      .det-time
        font-size: 14px
        line-height 20px
    .det-contain
      border-top 1px solid rgba(7,17,27,0.1)
      padding-top 10px
      margin-top 16px
  .det-debate
    li
      padding 10px 4px 8px
      box-shadow 0 1px 5px #b2b2b2
      border 1px solid rgba(7,17,27,0.1)
      margin-bottom 10px
      .det-icon
        margin 0 10px 0 0
        float right
      .answer-img
        display inline-block
        vertical-align bottom
      .answer-info
        display inline-block
        width 60%
        .answer-name
          font-size 12px
          line-height 22px
        .answer-time
          font-size: 14px
          line-height 20px
      .answer-answer
        border-top 1px solid rgba(7,17,27,0.1)
        padding-top 8px
        margin-top 6px
  .debate-back
    height 40px
    line-height 40px
    width 100%
    padding 0 2%
    background-color white
    position fixed
    bottom 40px
    left 0
    z-index 1
