li
  .el-col
    .el-menu
      background-color white
      .border-title
        text-align center
      .el-submenu
        .el-menu
          .el-submenu
            .el-menu
              li
                height auto
                word-wrap: break-word
