.talk
  width 90%
  margin 20px auto
  .talk-he
    margin 10px 0
    width 100%
    min-height 40px
    padding-top 20px
    clear both
    .talk-img
      border-radius 50%
      display inline-block
    .talk-mao
      display inline-block
    .talk-text
      padding 4px 10px
      display inline-block
      max-width 70%
      word-break break-all
      border-radius 4px
      border 1px solid rgba(7,17,27,0.4)
      vertical-align top
.talk-right
  float right


