.talk-bottom
  height 36px
  position fixed
  z-index 10
  bottom 0px
  left 0px
  width 100%
  background-color #e2e0e0
  border-top 1px solid rgba(7,17,27,0.1)
  padding 3px 6px 6px
  overflow hidden
  .talk-input
    height 39px
    width 74%
    border-radius 4px
    display inline-block
  .talk-sub
    color white
    width 60px
    text-align center
    height 36px
    line-height 36px
    background-color #878787
    border-radius 4px
    display inline-block
    margin-left 10px
    border 1px solid rgba(7,17,27,0.1)
