.teainfo
  height 90%
  width 100%
  #lunbo
    height 100%
    .el-carousel__container
      height 90%
    .el-carousel__indicators
      .el-carousel__indicator
        .el-carousel__button
          width 10px
          height 10px
          border-radius 5px
          border 1px solid rgba(7,17,27,1)
.tea-detail
  width 80%
  margin 20px auto 0
