.writepuzzle
  width 94%
  margin 20px 3% 0
  .puzzle-title
    height 40px
    line-height 40px
    .title-title2
      display inline-block
      width 10%
    .title-input
      display inline-block
      width 60%
      border-bottom 1px solid rgba(7,17,27,0.1)
    .title-finish
      display inline-block
      width 16%
      margin-left 2%
      text-align center
      border-radius 4px
      float right
  .puzzle-area
    width 100%
    min-height 400px
    margin-top 10px
